<input type="text" placeholder="Enter task" name="task" value="" required />

<input type="radio" name="status" value="yes" required />
<label for="">yes</label>

<input type="radio" name="status" value="no" required />
<label for="">no</label>

<input type="date" name="taskDone" value="" required />
